<!DOCTYPE html>
<html ng-app = "widgets">
<head>
  <title>Photo Widget</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="styles.css">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script type="text/javascript" src = "photos.js"></script>
  <script src="app.js"></script>
</head>
<body>
  <div ng-controller = "PhotosCtrl">

    <div class="container">

      <div class="row">
        <div class="col-xs-12 text-center">
          <h5>Search:</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-4 text-center">
          <label for = "filterSelect">Filters:
            <select name="filterSelect" ng-model="selectedFilter" class="form-control">
              <option value="">Any Filter</option>
              <option ng-repeat="filter in filters">{{ filter }}</option>
            </select>
          </label>
        </div>

        <div class="col-xs-4 text-center">
          <label for = "hashtagSelect">Hashtags:
            <select name="hashtagSelect" ng-model="selectedHashtags" class="form-control" multiple>
              <option value="">Any Hashtag</option>
              <option ng-repeat="hashtag in hashtags">{{ hashtag }}</option>
            </select>
          </label>
        </div>

        <div class="col-xs-4 text-center">
          <label>Current Page: {{ currentPage }}</label><br>
          <button ng-click="pagePrev()" class = "btn btn-primary">Prev</button>
<!--           <button ng-repeat="page in Array.apply(null, {length: Math.floor(filteredCollection.length / 12)}).map(Number.call, Number)">{{ page }}</button> -->
          <button ng-click="pageNext(filteredCollection.length)" class = "btn btn-primary">Next</button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-xs-6 push-div" ng-repeat="(index, image) in filteredCollection = (rawFeed | filter: {filter: selectedFilter, user: userSelected } | hashtagFilter: selectedHashtags) | pageFilter: currentPage">
          <h2>
            <a ng-href="https://instagram.com/{{image.user.username}}">{{ image.user.username }}</a>
          </h2>
          <h6> {{ image.created_time * 1000 | date: 'MMM d,y @ h:mma' }} </h6>
          <a ng-href="{{ image.link }}">
            <img ng-src="{{ image.images.low_resolution.url }}" class="img img-responsive">
          </a>
          <div class = "like-count"><span class = "glyphicon glyphicon-heart"></span> {{ image.likes.count }}</div>
          <div class = "comment-count"><span class = "glyphicon glyphicon-comment"></span> {{ image.comments.count }}</div>
          <div class = "filter-used"><strong>Filter:</strong> {{ image.filter }}</div>
          <ul class = "tags">
            <li ng-repeat = "tag in image.tags">#{{ tag }}&nbsp;</li>
          </ul>
        <!-- <div class = "row" ng-if="index % 3 == 0"></div> -->
        </div>
      </div>

      <hr><hr>

      <div class="row">
        <div class="col-xs-12 text-center">
          <h2>Users</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-xs-6" ng-repeat = "image in rawFeed">

        <div class="row">
          <div class="col-xs-4">
            <img ng-src="{{ image.user.profile_picture }}" class = "img img-responsive">
          </div>

          <div class="col-xs-8">
            <h3>
              <a ng-model = "userSelected" ng-click = "selectUser(image.user)" ng-href = '#' >{{ image.user.username }}</a>
            </h3>
            <h5>Full name: {{ image.user.full_name ? image.user.full_name : "No name registered" }}</h5>
          </div>
        </div>

        </div>
      </div>

    </div>
  </div>


</body>
</html>