<!DOCTYPE html>
<html>
<head>
  <title>Photos</title>
  <!-- Angular -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="photos.js"></script>
  <script src="app.js"></script>
  <script src="photos_cont.js"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body ng-app="widgets" ng-controller="PhotosCtrl" class="container" class="photos-app">
<div class="row">
 <!-- | photoFilter: searchTags -->
  <div class="col-sm-3" ng-repeat="photo in rawFeed.data | filter: {filter: searchFilter} | customPagination: page | photoUserFilter: userFilter">
    <a ng-href="{{ photo.link }}"><img class="img-responsive" ng-src="{{ photo.images.standard_resolution.url }}"></a><br>
    <strong><a ng-href="{{getUserProfilePage(photo.user.username)}}">{{ photo.user.username }}</a></strong><br>
    <p>{{ translateDate(photo.created_time) | date: 'short' }}</p>
    <p><strong>Likes</strong>: {{ photo.likes.count }}</p>
    <p><strong>Comments</strong>: {{ photo.comments.count }} </p>
    <strong>Hashtags</strong>: <div ng-repeat= "tag in photo.tags">#{{tag}} </div></br>
    <p><strong>Filter</strong>: {{photo.filter}} </p>

  </div>

</div>
<p>{{searchTags}}</p>

<div class="row">
  <select multiple ng-model='searchTags'>
    <option value="{{tag}}" ng-repeat="tag in hashTags">
      {{ tag }}
    </option>
  </select>

  <select ng-model="searchFilter">
    <option value="{{filter}}" ng-repeat="filter in filters">
      {{ filter }}
    </option>
  </select>
</div>

<button ng-click="downPage()">Previous</button>
<button ng-click="upPage()">Next</button>
<button ng-click="clearUserFilter()">Clear Filter for Users</button>

<div class="row">

  <div class="col-sm-3" ng-repeat="user in users">
  <img ng-click= "changeUserFilter(user.username)" ng-src="{{user.profile_picture}}"></br>
  Username: <a ng-href="{{user.url}}"><strong>{{ user.username }}</strong></a></br>
  Name: <strong>{{user.full_name}} </strong></br>
  
    
  </div>

</div>


</body>
</html>