td{
  border: 1px solid black;
  height: 100px;
  width: 100px;
  text-align: center;
}

td img{
  height: 100px;
  width: 100px;
}

th {
  border: 1px solid black;
}

th img {
  height: 10px;
}

.hashtag{
  display: inline-block;
}

.photo-box{
  border: 2px solid black;
  margin-top: 10px;
  height: 450px;
}

.photo{
  border-radius: 5%;
  max-height: 300px;
}