.panel {
	margin-top: 50px;
}

/*
	Panel Heading
*/

#navbar {
	background-color: MediumVioletRed;
	height: 100px;
	border-radius: 0;
	margin-bottom: 0;
	line-height: 80px;	
	color: white;
}

.panel-heading {
	padding: 0 auto;
}

.panel-heading p {
	float: left;
	line-height: 50px;
	margin-left: 10px;
}

.profile-pic {
	float: left;
	border-radius: 50%;
	width: 50px;
}


/*
	Panel Photo
*/

#container {
	width: 800px;
	margin: 0 auto;
}

#myContent {
	margin-top: 30px;
	column-count: 3;
	column-gap: 0px;
	width: 800px;
}

#myContent .panel-photo {
	display: inline-block;
	margin-bottom: 0px;
	width: 100%;
}


.tags li {
	list-style: none;
	display: inline-block;
}

.panel-photo {
	text-align: center;
}

.panel-photo .panel-body {
	padding: 0;
}

.panel-body img {
	width: 100%;
}


/*
	Panel Footer
*/

.clear-fix {
	clear: both;
}

.likes {
	float: left;
}

.comments {
	float: right;
}

.filter {
	float: right;
}

/*
	Widget User

*/

.sidebar-user-search {
	background-color: DeepPink;
	color: white;
}

.users li:first {
	margin-left: 60px;
	font-size: 24px;
}

.users li {
	list-style: none;
	width: 300px;
	margin: 20px 15px;
	font-size: 20px;
	font-weight: 100;
}

.users img {
	width: 50px;
	border-radius: 50%;
	margin-right: 10px;
}

.search-user {
	width: 100%;
}

.search-user input {
	width: 100%;
	margin-top: 1px;
	padding: 10px 25px;
	border: 0;
	color: DeepPink;
	font-size: 20px;
	font-weight: 100;
}



